---
import Layout from '../layouts/Layout.astro';

import cv from '../data/data.json';

---

<Layout title="Temps lliure">
<br><br><br>

	<h1>Els meus Hobbies</h1>

    <ul>
        {cv.aficions.map(item => (
            <li>
                {item}
            </li>
        ))}
    </ul>

	
</Layout>